@use 'sass:math'
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap')

$text: #8A8A8A
$primary: #7F98C0

*,
*::after,
*::before
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box
  border-image-width: 0
a
  text-decoration: none
  color: inherit
ul, ol, li
  list-style: none
h1,h2,h3,h4,h5,h6
  font-size: inherit
  font-weight: inherit
img
  vertical-align: top
button
  font-family: inherit
  color: inherit
  background: none
  border: none
  outline: none
html
  font-size: 62.5%
html,
body
  height: 100%
  min-width: 20rem
  line-height: 1
body
  font-weight: 400
  color: #000
  font-family: 'Epilogue', sans-serif
  background: #fff
//------------Help------------
.wrapper
  min-height: 100%
  overflow: clip
  display: flex
  flex-direction: column
.page 
  flex: 1 1 auto

.ibg
  position: relative
.ibg
  img
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    object-fit: cover
.container
  max-width: 121.6rem
  padding: 0 15px
  margin: 0px auto
  box-sizing: content-box
  // background: tomato

//Mobile
.loader-container
  display: none
  position: fixed
  top:0
  left:0
  height:100%
  width:100%
  z-index: 10000
  background:#fff
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  opacity: 1
  left: 0
  transition: opacity 1s, left 1s


.loader-container.fade-out
  left:-110%
  opacity:0

.mobile-image
  visibility: hidden
  display: flex
  justify-content: center
  align-items: center


.svg-container
  position: relative
  width: 263px
  height: 324px
  filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.8))

.animated-path
  stroke-dasharray: 1000
  stroke-dashoffset: 1000
  animation: draw 3s ease infinite, shadow 3s ease infinite


@keyframes draw
  to
    stroke-dashoffset: 0

@keyframes shadow
  to
    filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.9))

.img-build-small
  position: relative

.img-build-small::before
  z-index: -1
  position: absolute
  content: ""
  background-image: url("../assets/build_small.png")
  background-size: cover
  background-position: center
  right: 0px
  bottom: 2px
  width: 124px
  height: 216px

.mobile-container
  width: 280px
  height: 400px
  background-color: #ffffff
  border-radius: 10px
  position: relative
  display: flex
  justify-content: center
  align-items: center
  animation: shadowAnimation 4s infinite alternate


@keyframes shadowAnimation
  0%
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2)
  100%
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4)



//ANIMATION
.box
  opacity: 0
  animation-duration: 2s
  animation-fill-mode: both

.box.show
  animation-name: slideInShow

.box.hide
  animation-name: slideOutHide

@keyframes slideInShow
  from
    opacity: 0
    transform: translateX(-400%)
  to
    opacity: 1
    transform: translateX(0)

@keyframes slideOutHide
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(400%)


.box:nth-of-type(even)
  animation-name: slideInRight

.box:nth-of-type(even).hide
  animation-name: slideOutRight

@keyframes slideInRight
  from
    opacity: 0
    transform: translateX(200%)
  to
    opacity: 1
    transform: translateX(0)


@keyframes slideOutRight
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(-200%)


//--------HEADER---------
.header
  padding-top: 2rem
  position: relative
  z-index: 10
  &__container
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    min-height: 6.4rem
.btn-mobile-nav
  display: block
  z-index: 99
  cursor: pointer
  outline: none
  svg
    width: 72px
    height: 48px
    border: none
    outline: none
.btn-mobile-nav svg use[href="assets//icons.svg#menu-close"]
  display: none
.btn-mobile-nav svg use[href="assets//icons.svg#menu-outline"]
  display: block
.nav-open .btn-mobile-nav svg use[href="assets//icons.svg#menu-close"]
  display: block
.nav-open .btn-mobile-nav svg use[href="assets//icons.svg#menu-outline"]
  display: none


.main-nav
  background-color: rgba(255, 255, 255, 0.97)
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)
  position: absolute
  padding: 11.2rem
  top: 0
  left: 0
  width: 100%
  height: 100vh
  transform: translateX(100%)
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: all 0.5s ease-in
  opacity: 0
  pointer-events: none
  visibility: hidden

.nav-open .main-nav
  opacity: 1
  pointer-events: auto
  visibility: visible
  transform: translateX(0%)
.main-nav-list
  display: flex
  flex-direction: column
  gap: 3.2rem
.main-nav-link:link,
.main-nav-link:visited
  display: inline-block
  font-weight: 400
  line-height: 130%
  font-size: 4rem
  transition: all 0.3s
.main-nav-link:hover,
.main-nav-link:active
  color: #7F98C0
.privacy:link,
.privacy:visited
  color: #7F98C0
  font-size: 1.8rem
  font-weight: 400
  line-height: 130%
.privacy:hover,
.privacy:active
  color: #000

.privacy-popup
  display: none
  position: fixed
  top: 0
  left: 0
  max-width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  flex-direction: column
  justify-content: start
  align-items: center
  z-index: 1000

.popup
  &__content
    display: flex
    flex-direction: column
    gap: 2.4rem
    background-color: white
    padding: 3.2rem 2.4rem
    border-radius: 5px
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
  &__heading
    font-size: 2rem
    font-weight: 400
    line-height: 130%
  &__text
    p
      max-width: 1296px
      font-size: 1.6rem
      font-weight: 400
      line-height: 130%
  &__close-btn
    cursor: pointer
    margin-left: auto


/* STICKY NAVIGATION */
.sticky .header
  position: fixed
  top: 0
  bottom: 0
  width: 100%
  height: 10rem
  z-index: 999
  // background-color: rgba(255, 255, 255, 0.87)
  // box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.035)
.sticky .header svg,
.sticky .header__logo img
  opacity: 0.5
// .sticky .hero
//   margin-top: 6rem

//--------HERO---------

.hero
  position: relative
  margin-top: -8.4rem
  &__container
    max-width: 125.1rem
    margin: 0 auto
    padding-left: 10px
  &__body
    position: relative
    display: grid
    grid-template-columns: auto 1fr
    grid-template-areas: "svg img" "svg text"
    column-gap: 13.6rem
    align-items: center
  &__svg-box
    display: block
    width: 48.8rem
    height: 62rem
    grid-area: svg
  &__svg    
    position: absolute
    width: 100%
    height: 100%
    top: 0
  &__text-box
    margin-top: -176px
    z-index: 3
    grid-area: text
    position: relative
  &__text-box2
    height: 100%
    padding: 0 0 0 0 
  &__text-box3
    height: 100%
    padding: 0 0 0 0
    display: flex
    flex-direction: column
    gap: 32px
  &__heading
    text-align: center
    font-size: 36px
    font-weight: 400
    line-height: 130%
  &__text
    max-width: 579px
    font-size: 20px
    font-weight: 400
    line-height: 130%
  &__buttons
    z-index: 2
    display: flex
    flex-direction: column
    gap: 32px
  &__btn2
    position: relative
    padding: 8px 16px
    display: flex
    align-items: center
    // justify-content: center
    gap: 8px
    background: #fff
    color: $primary
    transition: 0.5s
    font-size: 16px
    font-weight: 400
    line-height: 175%
    overflow: hidden
    span
      position: absolute
      display: block
    span:nth-child(1)
      top: 0
      left: 0
      width: 100%
      height: 2px
      background: linear-gradient(90deg, transparent, #7F98C0)
      animation: animate1 3s linear infinite
    span:nth-child(2)
      top: -100%
      right: 0
      width: 2px
      height: 100%
      background: linear-gradient(180deg, transparent, #7F98C0)
      animation: animate2 3s linear infinite
      animation-delay: 0.25s
    span:nth-child(3)
      bottom: 0
      right: 0
      width: 100%
      height: 2px
      background: linear-gradient(270deg, transparent, #7F98C0)
      animation: animate3 3s linear infinite
      animation-delay: 0.50s
    span:nth-child(4)
      bottom: -100%
      left: 0
      width: 2px
      height: 100%
      background: linear-gradient(360deg, transparent, #7F98C0)
      animation: animate4 3s linear infinite
      animation-delay: 0.75s
    svg
      width: 36px
      height: 36px
      fill: #fff
      stroke: hsla(0, 0%, 54%, 1)
      stroke-width: 2.75
    &:hover,
    &:focus
      color: #000
      font-weight: 600
      background: hsl(0deg 8.36% 88.83% / 39%)
      box-shadow: 0 0 5px hsl(0deg 8.36% 88.83% / 39%), 0 0 25px hsl(0deg 8.36% 88.83% / 39%), 0 0 50px hsl(0deg 8.36% 88.83% / 39%), 0 0 200px hsl(0deg 8.36% 88.83% / 39%)
      // -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
      svg
        stroke: #000
  &__btn
    width: 280px
    padding: 4px 16px
    height: 44px
    display: flex
    align-items: center
    justify-content: center
    gap: 8px
    color: $primary
    font-size: 16px
    font-weight: 400
    line-height: 175%
    cursor: pointer
    svg
      width: 36px
      height: 36px
      fill: #fff
      stroke: hsla(0, 0%, 54%, 1)
      stroke-width: 2.75
    &:hover
      border-radius: 16px
      border: 1px solid #000
      stroke: hsla(0, 0%, 54%, 1)
    &:focus
      color: #000
      svg
        stroke: #000
  &__img-box
    margin-top: 37px
    padding-right: 20px
    grid-area: img
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    position: relative
    &::before
      content: ""
      position: absolute
      top: 20px
      width: 100%
      height: 436px
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 58.73%, #FFF 100%)
      pointer-events: none
      z-index: 1
  &__coinimg
    width: 377px
    height: 440px
    animation: slideIn 2s ease-in-out 0.2s



.img-build
  position: relative
  &::before
    z-index: 1
    position: absolute
    content: ''
    background-image: url('../assets/build.png')
    background-size: cover
    background-position: center
    top: 200px
    left: 257px
    width: 229px
    height: 419px
#my-svg
  position: absolute
  left: 0
  max-height: 621px
  max-width: 100%

@keyframes draw
  to
    stroke-dashoffset: 0

#my-path
  animation: draw 5s linear infinite

@keyframes slideIn
  0%
    transform: translateY(-100%)

  100%
    transform: translateY(0%)

@keyframes animate1
  0%
    left: -100%

  50%, 100%
    left: 100%
@keyframes animate2
  0%
    top: -100%

  50%, 100%
    top: 100%
@keyframes animate3
  0%
    right: -100%

  50%, 100%
    right: 100%
@keyframes animate4
  0%
    bottom: -100%

  50%, 100%
    bottom: 100%

//--------ABOUT---------

.about
  padding: 12rem 0
  &__container
    padding-top: 50px
    padding-bottom: 1px
    display: grid
    grid-template-columns: repeat(2,1fr)
  &__left
    display: flex
    flex-direction: column
    max-width: 59.2rem
    gap: 3.2rem
    &-top
      padding-left: 10.4rem
    &-top> *:not(:last-child),
    &-bottom>*:not(:last-child)
      margin-bottom: 1.6rem
  &__title
    font-size: 1.8rem
    line-height: 130%
    span
      font-weight: 600
  &__content>*:not(:last-child)
    margin-bottom: 1.6rem
  &__text
    font-size: 1.6rem
    line-height: 130%
    span
      font-weight: 600
  &__right
    max-width: 625px
    position: relative
  &__image-container
    margin-left: 56px
    padding: 0
    border: none
    line-height: 0
    max-width: 500px
    position: relative
    display: flex
    &::before
      content: ""
      position: absolute
      bottom: -2px
      left: 0
      width: 100%
      height: 382px
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.36) 42.51%, #FFF 100%)
      pointer-events: none
      z-index: 1
    img
      
      display: block
      width: 100%
      height: 100%
.idea
  max-width:100%
.founder
  position: absolute
  z-index: 1
  bottom: 0
  left: -38px


//--------MAIN--------

.main-block  
  position: relative
  &__container
    display: grid
    grid-template-columns: 1fr auto
  &__body
    grid-column-start: 2
    padding-bottom: 81.759%
    position: relative
    z-index: 2
    max-width: 592px
    top: -7px
    &> *:not(:last-child)
      margin-bottom: 3.2rem
  &__text
    font-size: 2rem
    font-weight: 400
    line-height: 130%
    span
      font-weight: 600
  &__image
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    &::before
      z-index: 100
      position: absolute
      content: ''
      width: 100%
      height: 30.8rem
      bottom: -2px
      left: 0
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 79.09%, #FFF 100%)
.more
  max-width: 57.2rem

//--------PROPERTY----------

.property
  padding: 12rem 0
  &__body
    display: flex
    flex-direction: column
    gap: 3.2rem
  &__top
    min-height: 33.6rem
    display: flex
    gap: 3.2rem
    justify-content: space-between
  &__heading
    font-size: 3.2rem
    font-weight: 400
    line-height: 130%
  &__right
    max-width: 59.8rem
    display: flex
    flex-direction: column
    gap: 2.8rem
    p
      font-size: 2rem
      font-weight: 400
      line-height: 140%
  &__cards
    display: grid
    justify-content: start
    gap: 3.2rem
    grid-template-columns: repeat(auto-fit, minmax(38.4rem, 1fr))
    position: relative
  &__column
    position: relative
    height: 40rem
    width: 38.4rem
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1)
    overflow: hidden
    span
      position: absolute
      display: block
      &:nth-child(1)
        top: 0
        left: 0
        width: 100%
        height: 2px
        background: linear-gradient(90deg, transparent, hsla(0, 0%, 50%, 0.6))
        animation: animate1 3s linear infinite
      &:nth-child(2)
        top: -100%
        right: 0
        width: 2px
        height: 100%
        background: linear-gradient(180deg, transparent, hsla(0, 0%, 50%, 0.6))
        animation: animate2 3s linear infinite
        animation-delay: 0.75s
      &:nth-child(3)
        bottom: 0
        right: 0
        width: 100%
        height: 2px
        background: linear-gradient(270deg, transparent, hsla(0, 0%, 50%, 0.6))
        animation: animate3 3s linear infinite
        animation-delay: 1.5s
      &:nth-child(4)
        bottom: -100%
        left: 0
        width: 2px
        height: 100%
        background: linear-gradient(360deg, transparent, hsla(0, 0%, 50%, 0.6))
        animation: animate4 3s linear infinite
        animation-delay: 2.3s

  &__card
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    background: #fff
    padding: 3.2rem
  &__text
    h3
      font-size: 2rem
      font-weight: 400
      line-height: 130%

.border-animation
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border: 2px solid transparent
  border-image: linear-gradient(to bottom right, hsla(0, 0%, 50%, 0.6),hsla(0, 0%, 65%, 0.5), hsla(0, 0%, 100%, 0.3)) 1
  border-image-slice: 1
  animation: borderAnimation 3s infinite linear
 
@keyframes borderAnimation
  0%
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%)
  25%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  50%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  75%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  100%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)

//--------GLOBAl----------

.global
  width: 100vw
  // background: tomato
  &__heading
    font-size: 3.2rem
    font-weight: 400
    line-height: 130%
    font-variant: small-caps
    margin-bottom: 3.2rem
.card-grid + .card-grid
  margin-top: -2px
.card-grid
  margin-top: -2px
  margin-bottom: -2px
  border-top: 2px solid #D9D9D9
  border-bottom: 2px solid #D9D9D9
  font-weight: 400
  &__body
    display: flex
    flex-direction: column
    gap: 1.6rem
  &__heading
    outline: none
    font-size: 1.8rem
    line-height: 130%
    &:hover,
    &:focus
      font-weight: 600
      transform: scale(1.05)      
  &__text    
    font-size: 1.6rem
    line-height: 130%
  &__columns
    display: grid
    padding: 0 11.4rem
    grid-template-columns: repeat(auto-fit, minmax(40.4rem, 1fr))
    position: relative
  &__column
    min-height: 31rem
  &__column:not(:last-child)    
    padding: 3.2rem 1.6rem
  &__column:last-child 
    padding: 3.2rem 1.6rem

.underline-container
  position: relative

.underline
  position: absolute
  bottom: -5px
  left: 0
  height: 2px
  width: 0
  background-color: #7F98C0
  transition: width 0.3s ease, transform 0.3s ease
  transform-origin: left

//--------CONTACT----------

.contact
  padding-top: 12rem
  &__body
    &> *:not(:last-child)
      margin-bottom: 3.2rem
  &__heading
    font-size: 3.2rem
    font-weight: 400
    line-height: 130%
    font-variant: small-caps
  &__form
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 3.2rem
    input
      width: 100%
      height: 8.8rem
      padding: 1.6rem
      font-family: inherit
      color: inherit
      font-weight: 400
      line-height: 130%
      border: 2px solid #000
      border-radius: 1.6rem
      color: #000
      // box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1)
      &::placeholder
        color: #8A8A8A
      &:hover
        background: #000
        color: white
        &::placeholder
          color: #fff
      &:focus
        outline: none
        border: 2px solid #2C3E50
        color: black
        &:hover
          background: #fff
  &__icon
    position: absolute
    top: 50%
    left: 16px
    transform: translateY(-50%)
    pointer-events: none
    svg
      width: 24px
      height: 24px
      fill: none
      stroke: hsla(0, 0%, 54%, 1)
      stroke-width: 2
  &__input
    position: relative
    &:hover
      .contact__icon
        svg
          stroke: white
          fill: black
    // &:active
    //   .contact__icon
    //     svg
    //       fill: #fff
    //       stroke: hsla(0, 0%, 54%, 1)


/* Добавляем стили для состояния focus у иконки */
.contact__input.focused .contact__icon svg
  stroke: hsl(0, 0%, 54%)
  fill: #fff


input[type="text"], input[type="email"]
  font-size: 1.6rem
  padding-left: 56px

input:-internal-autofill-previewed,
input:-internal-autofill-selected
  transition: all 9999s
  transition-delay: 9999s

.btn,
.btn:link,
.btn:visited
  display: inline-block
  height: 8.8rem
  text-decoration: none
  font-size: 1.6rem
  font-weight: 400
  line-height: 130%
  padding: 1.6rem
  border-radius: 16px
  border: none
  cursor: pointer
  font-family: inherit
  // box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1)
  transition: background-color 0.3s
.btn--form
  background-color: #000
  color: #fff
  align-self: end
  padding: 1.2rem

.btn--form
  &:disabled
    background: #D9D9D9
  &:hover
    background: #fff
    border: 2px solid #000
    color: #000
  &:focus
    outline: none
    background: #fff
    border: 2px solid #8A8A8A
    color: #000


//--------FOOTER----------

.footer
  padding: 12rem 0
  &__body
    display: flex
    justify-content: space-between
    align-items: center
    gap: 3.2rem
  &__text
    color: #2C3E50
    font-size: 1.6rem
    font-weight: 400
    line-height: 130%
    opacity: 0.5
  &__icons
    display: flex
    align-items: center
    gap: 2px
    a
      display: flex
      justify-content: center
      align-items: center
      width: 4.4rem
      height: 4.4rem
      &:hover
        svg
          fill: #fff
          stroke: #000
    svg
      width: 2.4rem
      height: 2.4rem
      fill: #fff
      stroke: hsla(217, 34%, 63%, 1)
      stroke-width: 2





@media (min-width: 1212px)
  .card-grid
    position: relative
    &::before
      position: absolute
      content: ''
      height: 2px
      width: 100vw
      top: calc(50%)
      transform: translateY(-50%)
      background: #D9D9D9
    &__column
      &:nth-child(2),
      &:nth-child(5)
        border-left: 2px solid #d9d9d9      
        border-right: 2px solid #d9d9d9

@media (min-width: 1180px)
  .hero
    &__heading
      text-align: left
      font-size: 40px
    &__buttons
        flex-direction: row

/* 👇🏻 772PX(smaller tablets)  */

@media (max-width: 48.25em)
  .main-nav
      padding: 8.4rem 5.6rem
  .main-nav-link:link,
  .main-nav-link:visited
    font-size: 2.4rem  
  .privacy:link,
  .privacy:visited
    font-size: 1.2rem
  .popup
    &__content
      gap: 1.6rem
      padding: 1.6rem
    &__heading
      font-size: 1.6rem
    &__text
      p
        font-size: 1.4rem
  .hero
    &__coinimg
      animation: slideIn 2s ease-in-out 5.5s
  .about
    &__container      
      padding: 0
    &__left
      max-width: 100%
    &__image-container
      max-width: 328px
      margin-left: 0
      padding-bottom: 10px
      img
        width: 262px
      &::before
        bottom: 8px
        height: 272px
  .about__left-top> *:not(:last-child),
  .about__left-bottom > *:not(:last-child)
    margin-bottom: 3.2rem
  .main-block
    &__text
      font-size: 1.6rem
      span
        font-weight: 400
  .main-block__body > *:not(:last-child)
    margin-bottom: 1.6rem
  .property
    padding: 6rem 0
    &__heading
      font-size: 1.8rem
    &__top
      min-height: 0
    &__right
      p
        font-size: 1.6rem
        line-height: 130%
    &__column
      width: 32.8rem
  .global
    &__heading
      font-size: 2rem
      max-width: 21.6rem
  .contact
    padding: 6rem 0
    &__form
      grid-template-columns: 1fr
  .footer
    padding: 6rem 0
    &__body
      flex-direction: column


@media (max-width: 1090px)
  .hero
    &__body
      grid-template-columns: 1fr
      grid-template-areas: "img" "text"
    &__svg-box
      display: none  
  .property
    &__top
      flex-direction: column


@media (max-width: 550px)

@media (max-width: 479px)
  .hero
    margin-top: 0
    &__body
      padding: 0 10px
    &__text
      max-width: 32.8rem
    &__text-box
      margin-top: -52px
    &__text-box3
      padding-left: 0
    &__img-box
      margin-top: 0
      &::before
        top: 45px
        height: 188px
    &__coinimg
      width: 161px
      height: 188px
    &__heading
      font-size: 36px
  .about
    padding-bottom: 6rem
    &__container
      padding: 0 1.7rem
    &__text
      max-width: 32.5rem
  .main-block
    &__decor
      position: absolute
      height: 90px
      top: 386px
    .about
  .challenge
    max-width: 30rem
  .popup
    &__content
      padding: 1.2rem
    &__btn
      svg
        width:54px
        height: 36px
  .card-grid      
    &__column:last-child
      padding: 3.2rem 1rem 3.2rem 1.6rem
  .buyers
    max-width: 32.3rem
  .institutional-btn
    max-width: 17rem
    text-align: left
  .investors
    max-width: 30.3rem
  .landlords
    max-width: 31.4rem


@media (min-width: 479px) and (max-width: 900px)
  .main-block
    position: relative
    &__decor
      position: absolute
      top: 685px
      height: 90px

@media (max-width: 360px)



  .stable
    max-width: 30.9rem
  .property
    &__right
      max-width: 31rem
      gap: 2.45rem

@media (max-width: 359px)
  .hero
    &__heading
      font-size: 32px
  .about
    &__text
      max-width: 30rem
  .property
    &__column
      width: 28rem
  .card-grid
    &__columns
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr))

@media (max-width: 1340px)
  .hero
    &__body
      column-gap: 90px
  .about
    &__container
      column-gap: 2rem
      row-gap: 3.2rem

@media (max-width: 1240px)
  .hero
    &__body
      column-gap: 40px
  .about
    &__container
      grid-template-columns: 1fr
    &__left-top
      padding-left: 0
  .founder
    bottom: -8px
    left: 0
@media (max-width: 1160px)
  .hero
    &__body
      column-gap: 10px
@media (min-width: 450px) and (max-width: 1024px)
  .hero
    &__text
      padding-left: 35px

@media (min-width: 479px) and (max-width: 1240px)
  .about
    &__container
      padding-left: 3rem
      padding-right: 3rem

@media (max-width: 1024px)
  .hero
    &__text
      max-width: 100%
  .about
    padding: 6rem 0
  .main-block__container
    grid-template-columns: 1fr
    gap: 32px
    padding: 0


  .main-block__body
    grid-column-start: auto
    padding: 0
    max-width: 100%
    padding: 0 2.2rem


  .main-block__image
    position: relative
    height: 460px
    margin-top: 0
    &::before
      height: 3.6rem
    &::after
      z-index: 100
      position: absolute
      content: ''
      width: 100%
      height: 3.6rem
      top: 0
      left: 0
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #FFF 79.09%, #FFF 100%)


  .main-block__image img
    position: static
    width: 100%
    height: 460px
    object-fit: cover
  .more
    max-width: 100%
  .card-grid
    &__columns
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr))
    &__column
      min-height: 33.6rem
    &__body:not(:last-child) 
      max-width: 32.3rem

@media (max-width: 719px)
  .card-grid
    &__column
      &:nth-child(5)
        border-bottom: 2px solid #d9d9d9

@media (min-width: 720px) and (max-width: 1210px)
  .card-grid
    &__column
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5)
        border-right: 2px solid #d9d9d9


@media (max-width: 1211px)
  .card-grid
    &__column
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4)
        border-bottom: 2px solid #d9d9d9
@media (max-width: 500px)
  .main-block__image
    height: 160px

  .main-block__image img
    height: 160px
@media (max-width: 1439px)
  .card-grid
    position: relative
    &__columns
      padding: 0 0rem
